@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 3s linear infinite;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
